* {
    box-sizing: border-box;
}

.container,
.container div:nth-of-type(2),
.container div:nth-of-type(2)::before,
.container div:nth-of-type(2)::after,
.container div:last-of-type,
.container div:last-of-type::before {
    content: '';
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.container {
    width: 500px;
    height: 300px;
    margin: 20px auto;
    background-color: #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: absolute;
}


@media (max-width:767px) {
    .container {
        width: 350px;
        height: 200px;
    }


}

.container::before {
    content: '';
    background-color: #607d8b;
    width: 60px;
    height: 12px;
    position: absolute;
    top: -12px;
    left: 30px;
    border-radius: 10px 10px 3px 3px;
    -webkit-border-radius: 10px 10px 3px 3px;
    -moz-border-radius: 10px 10px 3px 3px;
    -ms-border-radius: 10px 10px 3px 3px;
    -o-border-radius: 10px 10px 3px 3px;
}

.container::after {
    content: '';
    background-color: red;
    width: 50px;
    height: 4px;
    position: absolute;
    top: -15px;
    left: 34px;
    border-radius: 10px 10px 3px 3px;
    -webkit-border-radius: 10px 10px 3px 3px;
    -moz-border-radius: 10px 10px 3px 3px;
    -ms-border-radius: 10px 10px 3px 3px;
    -o-border-radius: 10px 10px 3px 3px;
}

.container span {
    display: block;
    width: 150px;
    height: 0;
    position: absolute;
    border-bottom: 50px solid #607d8b;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 50px 50px 0px 0px;

}

.container span::before {
    content: '';
    width: 80%;
    height: 30px;
    background-color: #ccc;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container span::after {
    content: '';
    width: 40%;
    height: 20px;
    background-color: #607d8b;
    border-radius: 5px;
    position: absolute;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}



.container div:first-of-type {
    background-color: #607d8b;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}


.container div:nth-of-type(2) {
    width: 250px;
    height: 250px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px 5px #00000038;
}

@media (max-width:767px) {
    .container div:nth-of-type(2) {
        width: 150px;
        height: 150px;
    }
}

.container div:nth-of-type(2)::before {
    width: 85%;
    height: 85%;
    background-color: #ccc;
}

.container div:nth-of-type(2)::after {
    width: 70%;
    height: 70%;
    background-color: #333;
}

.container div:last-of-type {
    width: 100px;
    height: 100px;
    background-color: #358fb6;
}

.container div:last-of-type::after {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #68b8db;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (max-width:767px) {
    .container div:last-of-type {
        width: 65px;
        height: 65px;
    }

    .container div:last-of-type::after {
        width: 15px;
        height: 15px;
        top: 10px;
        left: 10px;
    }


}